// // Body
$body-bg: #f7f9fb;
$primary: #667ab3;
// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
// $card-cap-bg: #fbfbfb;
// $card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: .25rem;

$form-feedback-icon-valid:'';
// $breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
$enable-responsive-font-sizes:true;

