$enable-gradients: true;
@import '../../../src/assets/scss/app.scss';

@media (max-width: 419px) {
  .demo-and-code-wrapper {
    margin: -0.2rem !important;
    margin-bottom: 1rem;

    .code-wrapper {
      margin: -1rem;
    }
  }
}

.theme-default-content .demo-and-code-wrapper {
  .code-control {
    font-size: 1rem;
    height: auto;
    background-color: transparent;
    margin-bottom: 0rem;

    .online-wrapper {
      display: none;
    }

    .control-btn {
      flex: 0;
      min-width: 128px;
      margin-bottom: -1rem;
      margin-left: auto;
    }
  }

  .code-wrapper {}
}

.border-columns {
  .demo-and-code-wrapper {
    margin-top: 0 !important;
    padding: 0 1rem 0 1rem;
  }

  .code-control {
    // margin:0 -1rem 0 -1rem!important;
  }

  .code-wrapper {
    margin: 0 -1rem 1rem -1rem;
  }

  .row {}

  .row>.col,
  .row>.col-auto,
  .row>[class*=col-] {
    // padding-top: .75rem;
    // padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }

  .va-demo .row {
    min-height: 160px;
    border: thin solid #666;
    background: var(--light);
    margin-bottom: 1rem;
  }
}

.show-form-groups.active {
  .form-group,
  .custom-control,
  .row>.col,
  .row>.col-auto,
  .row>[class*=col-] {
    // padding-top: .75rem;
    // padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }
}

.list-group-demo .list-group {
  max-width: 400px;
}

.theme-default-content:not(.custom) {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5vw 2.5vh;
}

.theme-default-content .demo-and-code-wrapper .code-control .control-btn {
  flex: 0;
  min-width: 128px;
  margin-left: auto;
}

.page {
  background: #f5faf8;
}

.bd-highlight {
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .15);
}

table {
  @extend .table-responsive;
}

.bd-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 2px;
}

.bootstrap-datetimepicker-widget .picker-switch table {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bootstrap-datetimepicker-widget .picker-switch td {
  width: 140px;
}

.bootstrap-datetimepicker-widget td.day.active {
  background: blue;
  color: white;
}

.dropdown-item.active:not(.disabled),
.dropdown-item:active:not(.disabled) {
  color: #fff !important;
}

.dropdown-item.active.disabled,
.dropdown-item:active.disabled {
  background: #d7d8db;
}

.content:not(.custom) {
  max-width: 960px !important;

}

.theme-default-content:not(.custom) {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.sidebar-group-items {
  font-size: 1em;
}

.sidebar-group.is-sub-group>.sidebar-heading {
  font-size: 1em !important;

}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
  border: none;
}

.content:not(.custom) a.dropdown-item:hover {
  text-decoration: none;
  cursor: pointer;
}