.content:not(.custom) {
  max-width:960px!important;
  
}
.theme-default-content:not(.custom) {
    max-width: 1280px;
    margin: 0 auto;
}
.sidebar-group-items{
  font-size:1em;
}
.sidebar-group.is-sub-group > .sidebar-heading{
  font-size:1em!important;
  
}
table{
  display:table;
}
tr{
  border-top:inherit;
}
tr:nth-child(2n){
  background-color:inherit;
}
kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
  border:none;
}
.content:not(.custom) a.dropdown-item:hover {
  text-decoration: none;
  cursor:pointer;
}


.custom-block .custom-block-title{
  margin-bottom:1rem;
}

.theme-default-content .demo-and-code-wrapper .code-control .control-btn{
flex: 0;
min-width: 128px;
margin-left:auto;
}